.empty {
  padding-top: 163px;
  padding-bottom: 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty__description {
  font-size: 18px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 47px;
}

.empty__img {
  width: 299px;
  height: 255px;
  margin-bottom: 74px;
}

.empty__back {
  width: 210px;
  height: 46px;
  background-color: #282828;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.empty__back:hover,
.empty__back:focus {
background-color: #fff;
color: #282828;
border: 2px solid #282828;
}