.filter {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  display: block;
  background-color:#F9F9F9;
  border: none;
  padding-top: 14px;
  padding-bottom: 17px;
  width: auto; 
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  padding-left: 30px;
  padding-right:30px;
}

.filter__item:not(last-child) {
  margin-right: 9px;
}

.filter__item:hover,
.filter__item:focus,
.filter__item:active {
  background-color: #282828;
  color: #fff;
}
