.filter-container {
  width: 280px;
  height: 85px;
  background-color: #F3F3F3;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
  padding-bottom: 7px;
  margin-bottom: 17px;
}

.filter-thickness {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-thickness__input:disabled + .filter-thickness__label {
  opacity: 0.3;
  cursor: no-drop;
}

.filter-thickness__label,
.filter-diameter__label{
  padding: 7px 31px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  &--error {
    color: red;
  }
}

.filter-thickness__label:hover,
.filter-diameter__label:hover,
.filter-thickness__label:focus,
.filter-diameter__label:focus,
.filter-diameter__label:active,
.filter-thickness__label:active {
background-color: #fff;
box-shadow: 0px 2px 4px 0px #0000000A;
}

.filter-diameter {
  display: flex;
  justify-content: space-between;
}

.filter-diameter__input:disabled + .filter-diameter__label {
  opacity: 0.3;
  cursor: no-drop;
}

.filter-diameter__label {
  padding: 7px 25px;
}


input[type="radio"]:checked + .filter-thickness__label,
input[type="radio"]:checked + .filter-diameter__label {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #0000000A;
}

.filter-error {
  color: red;
  font-weight:bold;
  margin-bottom: 15px;
}