.basket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.basket-header__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  position: relative;
  padding-left: 46px;
}


.basket-header__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../../img/basket-cart.svg);
  left: 0;
  bottom: 8px;
}

.basket-header__delete {
  position: relative;
  padding-left: 23px;
  color: #B6B6B6;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}


.basket-header__delete::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../img/trash.svg);
  left: 0;
bottom: 1px;
}

.basket-header__delete:hover,
.basket-header__delete:focus {
  color: #000;
}

.basket-header__delete:hover::before{
  background-image: url(../../img/trash-hover.svg);
}