.sort {
  display: flex;
  align-items: center;
}

.sort__title {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 8px;
}

.sort__title::before {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../../img/triangle.svg);
  top: 0;
  left: 0;
  margin-right: 7px;
}

.select__name {
  color: #FE5F1E;
  border-bottom: 1px dotted #FE5F1E;
  cursor: pointer;
}

.select__list {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
padding-top: 13px;
background-color:#fff;
border-radius: 10px;
min-width: 132px;
-webkit-box-shadow: 0px 2px 17px -6px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 2px 17px -6px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 17px -6px rgba(0, 0, 0, 0.2);
z-index: 10;
}

.select__label {
  height: 38px;
  padding-left: 14px;
}